section.about#about
    .flex.flex--center
        .col-1.push-right
            h1 Hi, my name is
            h2 Adarsh Gupta.
            p.home-lead I'm a Software Engineer with 4+ years of experience working on web and data warehousing applications.