section.work#work
    .flex.flex--center
        .col-2
            h2.section-heading Where I've worked

            .grid
                .tabsPanel
                    button(data-panel="LSDWPanel" title="My work in LSDW team at Optum").proj-Btn.optum-selected Optum - LSDW
                    button(data-panel="CMRPanel" title="My work in CMR team at Optum").proj-Btn Optum - CMR
                    button(data-panel="OPAPanel" title="My work in OPA team at Optum").proj-Btn Optum - OPA
                    button(data-panel="CMGAPanel" title="My work in CMGA team at Optum").proj-Btn Optum - CMGA
                    button(data-panel="BayerPanel" title="My work at Bayer").proj-Btn#Bayer-btn Bayer
                    .highlighter
                .expPanel
                    div.projPanel#LSDWPanel
                        h3 
                            span.designation Software Engineer
                            span.company
                                &nbsp;@&nbsp;
                                a(href="https://www.optum.com/about-us.html" target="_blank" title="Know about Optum" rel="external nofollow").inline-link Optum
                        p 
                            span.product LifeScience Data Warehouse (LSDW)
                            span.date-range Mar 2021 - Feb 2022
                        div.description
                            ul
                                li Completed a proof-of-concept on the migration of an all-encompassing data pipeline from Oracle to AWS Redshift, with a colleague
                                li Migrated 400+ SQL stored procedures to AWS Redshift, in 8 months, as a 4-member team
                                li Improved data pipeline runtime, from 67 hours in Oracle to 50 hours in Amazon Redshift (25% reduction)

                    div.projPanel#CMRPanel
                        h3 
                            span.designation Software Engineer
                            span.company
                                &nbsp;@&nbsp;
                                a(href="https://www.optum.com/about-us.html" target="_blank" title="Know about Optum" rel="external nofollow").inline-link Optum
                        p 
                            span.product Crimson Medical Referral (CMR)
                            span.date-range Dec 2019 - Feb 2021
                        div.description
                            ul
                                li Migrated the application (included around 50 sub-projects) from .NET Framework to .NET Core 3.1 and redesigned it for the cloud (Azure), in a team of 4. The re-engineering involved code decluttering and refactoring, breaking into multiple microservices, and upgrading libraries and tests
                                li Moved Database Migration tool from RedGate SQL to DbUp, an open-source tool, to save license cost
                                li Introduced Jenkins pipeline to automate builds, tests, SONAR code quality and FORTIFY security scans, unit test coverage report generation, and established a template for Jenkins pipeline for all of our microservices
                                li Simplified front-end code from a .NET framework project to a static website hosted in Azure Blob Storage and served via Azure Content Delivery Network(CDN), which reduced the build artifact size from 67MB to 19MB (71% reduction) and the overall build and deployment time from 2 hours to 20-25 minutes s (79% reduction)
                    
                    div.projPanel#OPAPanel
                        h3
                            span.designation Associate Software Engineer
                            span.company
                                &nbsp;@&nbsp;
                                a(href="https://www.optum.com/about-us.html" target="_blank" title="Know about Optum" rel="external nofollow").inline-link Optum
                        p 
                            span.product Optum Performance Analytics (OPA)
                            span.date-range Jan 2019 - Nov 2019
                        div.description
                            ul
                                li Migrated a Microstrategy (Business Intelligence tool) project from Oracle to Amazon Redshift as the data source
                                li Established a generic approach to handle data differences caused due to differences in numeric computations in Amazon Redshift, compared to Oracle
                                li Coded multiple python scripts to automate client onboarding, which leveraged Microstrategy APIs to onboard new clients onto AWS and migrate existing clients from on-prem to AWS Microstrategy instance
                                li Implemented delta Microstrategy package migration to reduce release deployment time significantly
                    
                    div.projPanel#CMGAPanel
                        h3
                            span.designation Software Engineering Intern
                            span.company
                                &nbsp;@&nbsp;
                                a(href="https://www.optum.com/about-us.html" target="_blank" title="Know about Optum" rel="external nofollow").inline-link Optum
                        p 
                            span.product Crimson Medical Group Advantage (CMGA)
                            span.date-range Jan 2018 - May 2018
                        div.description
                            ul
                                li Investigated a data difference issue in our Microstrategy (Business Intelligence tool) instance based on SQL server and documented the data pipeline flow for the team
                                li Assisted the QA team in adding automated tests for our web API, using the existing SoapUI tool
                                li Experimented with D3.js to visualize data better to figure out possible patterns in the metrics data
                    
                    div.projPanel#BayerPanel
                        h3 
                            span.designation Software Engineering Intern
                            span.company
                                &nbsp;@&nbsp;
                                a(href="https://www.bayer.in/en/" target="_blank" title="Know about Bayer" rel="external nofollow").inline-link Bayer
                        p 
                            span.product Product Reporting Tool
                            span.date-range Dec 2016
                        div.description
                            ul
                                li Developed an ASP.NET web application that helps generate a custom report based on the manufacturing plant data (Bayer Vapi plant)
                                li Implemented LDAP authentication, ability to upload plant data using CSV files, and guide step-by-step report generation based on the plant data stored in the SQL server database
