//- Reusable nav content and one place to change
mixin nav-content()
    ul
        li: a(href="#about" title="About me") About
        li: a(href="#work" title="My Work") Work
        li: a(href="#education" title="My Education") Academics
        li: a(href="#skills" title="My Skiils") Skills
        li: a(href="#hobbies" title="My Hobbies") Hobbies
        li: a(href="#contact" title="My Contact") Contact


.mobile-nav
    +nav-content()

header
    .header-position
        h1(title="Adarsh Gupta").logo Adarsh Gupta

        nav.site-nav
            +nav-content()
        
        .social-links.flex.flex--space-around
            a(href="https://github.com/AdarshGupta" target="_blank" title="GitHub").icons
                i.fa-brands.fa-github
            a(href="https://www.linkedin.com/in/adarsh035" target="_blank" title="LinkedIn").icons
                i.fa-brands.fa-linkedin
            a(href="mailto:adarsh035@gmail.com" title="Email me").icons
                i.fa-regular.fa-envelope-open

        .mobile-nav-toggle: span