//- Reusable nav content and one place to change
mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#youtube") Work
        li: a(href="#mentoring") Academics
        li: a(href="#articles") Projects
        li: a(href="#insta") Skills
        li: a(href="#contact") Contact


.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo Adarsh Gupta

        nav.site-nav
            +nav-content()
        
        a(href="mailto:adarsh035@gmail.com").email-link +email me

        .mobile-nav-toggle: span