mixin design-img(link, content, color)
    a(href="#{link}" data-color="#{color}").design-img-link
        span #{content}

section.skills#skills
    .skill-section.flex.flex--center

        .col-25.flex.flex--center.skill-section-1(data-orig-color="#3EC1D3")
            .col-1
                p.home-lead Programming Languages
                .container.flex.flex--space-around                    
                    +design-img('', 'C#', '#602A78')
                    +design-img('', 'Python', '#F2CC3B')
                    +design-img('', 'C/C++', '#659BD3')
                    +design-img('', 'Java', '#E01E23')
                    +design-img('', 'SQL', '#0067E4')
                    +design-img('', 'HTML / CSS / JS', '#F0DB4F')

        .col-25.flex.flex--center.skill-section-2(data-orig-color="#F6F7D7")
            .col-1
                p.home-lead  Databases
                .container.flex.flex--space-around
                    +design-img('', 'Amazon Redshift', '#F48828')
                    +design-img('', 'Microsoft SQL Server', '#939BA3')
                    +design-img('', 'Oracle', '#F80000')
                    +design-img('', 'Postgres', '#30628A')
                    +design-img('', 'MongoDB', '#10AA50')
                    //+design-img('', 'be-6.png', '#f6c599')
        
        .col-25.flex.flex--center.skill-section-3(data-orig-color="#FF9A00")
            .col-1
                p.home-lead Cloud Platforms and Frameworks
                .container.flex.flex--space-around
                    +design-img('', 'AWS', '#F29100')
                    +design-img('', 'Azure', '#008AD7')
                    +design-img('', '.NET Core', '#673F94')
                    +design-img('', 'ReactJS', '#61DBFB')
        
        .col-25.flex.flex--center.skill-section-4(data-orig-color="#FF165D")
            .col-1
                p.home-lead  Tools and Technologies
                .container.flex.flex--space-around
                    +design-img('', 'Micro strategy', '#FF2428')
                    +design-img('', 'Jenkins / Bamboo', '#1166DD')
                    +design-img('', 'Git + GitHub / Bitbucket', '#E44C30')
                    +design-img('', 'JIRA / Rally', '#D4424F')
                    +design-img('', 'SSIS / SSAS', '#919EAA')
                    +design-img('', 'Terraform', '#5D39D8')

    h2.section-heading Skills