section.education#education
    .flex.flex--space-around

        .col-1
            .courses-strip.flex.flex--space-around
                .course-set.flex.flex--space-around
                    .courses-1
                        span.course Operating Systems
                        span.course Datastructures and Algorithms
                        span.course Data communication and computer networks
                        span.course Database Systems
                        span.course Programming in Java
                        span.course Object oriented programming
                        span.course Computer architecture and organization
                        span.course Web Technology
                        span.course Distributed Systems
                        span.course C Programming language
                    .courses-2
                        span.course C Programming language
                        span.course Distributed Systems
                        span.course Web Technology
                        span.course Computer architecture and organization
                        span.course Object oriented programming
                        span.course Programming in Java
                        span.course Database Systems
                        span.course Data communication and computer networks
                        span.course Datastructures and Algorithms
                        span.course Operating Systems
                .course-set.flex.flex--space-around
                    .courses-1
                        span.course Object oriented programming
                        span.course Computer architecture and organization
                        span.course Web Technology
                        span.course Distributed Systems
                        span.course C Programming language
                        span.course Operating Systems
                        span.course Datastructures and Algorithms
                        span.course Data communication and computer networks
                        span.course Database Systems
                        span.course Programming in Java
                    .courses-2
                        span.course Programming in Java
                        span.course Database Systems
                        span.course Data communication and computer networks
                        span.course Datastructures and Algorithms
                        span.course Operating Systems
                        span.course C Programming language
                        span.course Distributed Systems
                        span.course Web Technology
                        span.course Computer architecture and organization
                        span.course Object oriented programming
        .col-1.order-first
            h2.section-heading Education
            h3.home-lead.flex
                span
                    i.fa-solid.fa-building-columns
                span.univ-name Vellore Institute of Technology
            p.location
                span
                    i.fa-solid.fa-earth-asia
                span Vellore, Tamil Nadu, India
            h4.degree Bachelor of Technology in Information Technology
            p.cgpa Cumulative GPA: 9.38